@model KazimRaza.Models.Globel
@{
    ViewBag.Title = "About";
}
@section AdditionalMeta
{
    <meta name="keywords" content="Kazim Institute of leadership,Kazim Raza M,022-28684456,905, Ghanshyam Enclave, Lalji Pada,Near Laljipada police chowky, Kandiwali link road, Kandiwali (W). Mumbai-400067 ,,LIC, Insurance, Agent">
    <meta name="description" content="This Is A Informative Website For Public Interest In Insurance And Investment Domain">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Vision">
    <meta itemprop="description" content="">

    <!-- Twitter Card data -->
    <meta name="twitter:site" content="kazim Raza">
    <meta name="twitter:title" content="About Us">
    <meta name="twitter:description" content="">
    <meta name="twitter:creator" content="http://kazimraza.com">
    <meta name="twitter:image:src" content="http://kazimraza.com/images/Kazim%20Raza%20Logo.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="About Us" />
    <meta property="og:type" content="About Us" />
    <meta property="og:description" content="@Html.Raw(Model.about.subdata)" />
    <meta property="og:site_name" content="kazim Raza" />
    <meta property="article:section" content="This Is A Informative Website For Public Interest In Insurance And Investment Domain" />
}

<style>
    img.kazim {
       position:sticky;
        top: 300px;
        left:0;
        border-radius: 25px 0 !important;
        border: 6px solid #ff8474;
        width:500px; 
        height:490px;
    }
    @@media screen and (max-width: 520px) and (min-width: 220px)
    {
         .fixed {
        /*position:static;*/
        top:initial;
    }
    }

</style>

<section class="back-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h1 itemprop="name">ABOUT US</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ulockd-about">
        <div class="container">
            <div class="row">
                <div id="shareIcons" socialShareURL="kazimraza.com/about"></div>
                <div class="col-md-7">
                    <div class="section-title">
                        <h2 itemprop="articleSection">Our <span class="text-thm2"> Profile</span></h2>
                        <span itemprop="articleBody">
                            @Html.Raw(Model.about.data)
                            </span>
</div>
                </div>
                <div class="col-md-5">
                    <div class="ulockd-about-box ulockd-mrgn1260">
                        <div class="ab-thumb"><img itemprop="image" class="img-responsive kazim" src="~/images/Kazim2.jpg" alt="1.jpg"> </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<script>

</script>
@*<script type="text/javascript">

    window.addEventListener('load',
    function AboutUs() {
        $.ajax({

            url: 'http://api.bimacare.in/api/about/41678',
            dataType: "json",

            type: "Get",
            // contentType: 'application/json; charset=utf-8',
            //data: {Id:Id},
            success: function (data) {

                // console.log(data);
                // for (var i = 0; i < data.length; i++) {
                //tr = tr + "<tr>";
                //tr = tr + "<td>" + data[i].Id + "</td>";
                //tr = tr + "<td>" + data[i].CustomerName + "</td>";
                //tr = tr + "<td>" + data[i].Address + "</td>";
                //tr = tr + "<td>" + data[i].City + "</td>";
                //tr = tr + "<td>" + data[i].Pincode + "</td>";
                //tr = tr + "</tr>";
                var d = data;
                var ab = d.data[0].aboutus;
                $('#about').html(d.data[0].aboutus);
                // }

                //tblFormate();
            },
            error: function (xhr) {
                alert('No Valid Data');
            }
        });
    });
</script>*@